body {
	background-color: black;
	overflow:hidden;
}

#root{
	background-color: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    margin-left:50px;

}

#sideBar{
	position:absolute;
	margin-top:0px;
	display:Block;
	float:left;
	margin-left:0px;
	background-color: black
}

#wifiBody{
    background-image: linear-gradient(to right, #9e00ff , #ff00b2);
}

.connect{
    position: absolute;
    top: 40%;
    left: 35%;
}

.inputStyle{
    border-radius: 20px;
    text-align: center;
    height: 36px;
    border: 2px solid gray;
    font-size: large;
    width: 300px;
}
.btn {
    background-color: skyblue;
    border-radius: 20px;
    text-align: center;
    height: 42px;
    border: 2px solid gray;
    font-size: large;
    width: 309px;
}
#qrCode {
	width:40%;
	position:absolute;
	bottom:2px;
	right:0;
	
}
#banner{
	font-weight:bold;
	background-color:transparent;
	position:relative;
	animation-name:bannerAnimation;
	animation-duration:10s;
	animation-iteration-count:infinite;
	animation-timing-function: ease-in-out;
}

@keyframes bannerAnimation {
	0% 	{left:0px; top:0px}
	25% {left:25%; top:0px}
	75% {left:0px; top:0px}
}
.w3-animate-zoom {
	animation:animatezoom 10s infinite;
}
.w3-animate-zoom-slide {
	animation:animatezoom 5s;
}
@keyframes animatezoom {
	0% {transform:scale(0.5);}
	50% {transform: rotateY(150deg);}
	100% {transform:scale(1);}
}  
#backgroundImg{
	position:absolute;
}








