<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="static/style.css">
		<script src="static/index.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
		<style type="text/css">
			::-webkit-scrollbar {
			    display: none;
			}
		</style>
		<title>Pi Dashboard</title>
	</head>
	<body style="margin:auto;">
		<div id="root">
			
			<div id="sideBar" style="border:solid 1px gray !important;">
				
				<div>
					<iframe id="channel" src="" frameborder="0" style="margin-top:0px;border: none">
					</iframe>
				</div>

				<div id="MyClockDisplay" class="clock" onload="showTime()"></div>
				<div id="date" class="date"></div>	
				<div style="border:solid 1px gray !important;">
					<img id="backgroundImg" width="" height=""  src="https://arielapps.com/img/{{banner[1]}}" 
					style="opacity:0.2;"/>
				</div>

				<div id="banner">
					<div style="background-color:transparent">
						<div id="msg" style="padding:0px 0px 0px 0px;height:60%;width:100%;font-weight:bold;background-color:#282626e3;position:relative; font-size: xx-large;">
							<p>
								{% for x in banner[2]:%}
									&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {{x}} 
								{%endfor%}
							</p>
						</div>
					</div>					
				</div>

				<div>
					<iframe id="b2b" width="" height="" src="https://arielapps.com/getB2BSignage/{{banner[0]}}/0" frameborder="0" style="margin-top:0px;border: solid 1px gray;"></iframe>
					<iframe id="youtube" width="" height="" src="{{youtube[0]['src']}}" frameborder="0" style="margin-top:0px;border: solid 1px gray; display: none;"></iframe>
				</div>
				
			</div>

			<div>
				{% for frame in iframes:%}
					<iframe  style="display: none; position:relative;" class="slide" id="{{loop.index}}" 
					src="https://arielapps.com/signage/{{frame[0]}}/{{frame[1]}}/{{frame[2]}}"></iframe>
				{%endfor%}
			</div>
		</div>
		<script type="text/javascript">
			const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
			const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
			const d = new Date();
			var date = days[d.getDay()]+'  '+months[d.getMonth()]+'  '+d.getDate();
			document.getElementById("date").innerHTML = date;
			showTime();
			//setTimeout(mobileDisplay, 30000);
			let screen_width = (screen.width/3.5);
			let screen_height = screen.height/3;
			let tab_height = screen_height-20;
			document.getElementById('youtube').width = screen_width;
			document.getElementById('youtube').height = screen_height;
			document.getElementById('b2b').width = screen_width;
			document.getElementById('b2b').height = screen_height;
			document.getElementById('channel').width = screen_width;
			document.getElementById('channel').height= screen_height;
			document.getElementById('banner').style.width = screen_width+"px";
			document.getElementById('banner').style.height= tab_height+"px";
			document.getElementById('backgroundImg').width = screen_width;
			document.getElementById('backgroundImg').height= tab_height;
			check();
			setTimeout(() => {
				var src = "{{youtube[0]['src']}}";
				youtubePlaylist(src);
			}, 10000);

			setTimeout(() => {
				var src = "{{playlistSrc}}";
				playlist(src);
				setTimeout(() =>{
					playlist(src);
				}, 10000);
			}, 50000);

			setTimeout(() => {
				checkReboot();
			}, 30000);

			setInterval(() =>{
				var src = "https://arielapps.com/getB2BSignage/{{banner[0]}}";
				var idx = "{{b2b}}";
				console.log(idx);
				b2b(src, idx);
				setTimeout(() =>{
					b2b(src, idx);
				},30000);
				setTimeout(() => {
					document.getElementById("b2b").style.display="None";
					document.getElementById("youtube").style.display="Block";
				}, 60000);	
			}, 150000);

			setTimeout(() => {
				document.getElementById("b2b").style.display="None";
				document.getElementById("youtube").style.display="Block";
			}, 30000);
		</script>
	</body>
</html>
