<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
	</head>
	<body style="color:white;background-color:transparent;overflow: visible;overflow-y: hidden;overflow-x: hidden;width:100%">
		<div style="background-color:transparent">
			<div class="" id="msg" style="padding:0px 0px 0px 8px;height:60%;min-width:2000px;font-weight:bold;background-color:#282626e3;position:relative; font-size: xx-large;"><p>
				{% for x in data:%}
					{{x}} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
				{%endfor%}
			</p></div>
			<div id="hand" style="bottom:0; position:absolute; left:0;">
				<i class="fa-regular fa-hand-point-right fa-2xl" style="color:#cccccc;font-size:50px; padding-left:8px;"></i>
				<h2 style="color:#cccccc;">Scan Me</h2>
			</div>
		</div>
		<style type="text/css">
			#msg{
			    width: 100%;
			    background-color: black;
			    white-space: nowrap;
			    overflow: visible;
			    overflow-y: hidden;
  				overflow-x: hidden;
			   }
			p{
			    display: inline-block;
			    color: #FFF;
			    padding-left: 100%;
			    animation: move 100s linear infinite;
			}
			@keyframes move {
			    0%   { transform: translate(0, 0); }
			    100% { transform: translate(-100%, 0); }
			}
		</style>
	</body>
</html>