<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
		<style type="text/css">
			#msg{
			    width: 100%;
			    background-color: black;
			    white-space: nowrap;
			    overflow: visible;
			   }
			::-webkit-scrollbar {
			    display: none;
			}
			p{
			    display: inline-block;
			    color: #FFF;
			    animation: move 100s linear infinite;
			}
			@keyframes move {
			    0%   { transform: translate(0, 0); }
			    100% { transform: translate(-100%, 0); }
			}
		</style>
	</head>
	<body style="color:white;background-color:transparent; overflow:visible;">
		<div style="background-color:transparent">
			<div class="msg" id="msg" style="padding:0px 0px 0px 8px;height:60%;width:100%;font-weight:bold;background-color:#282626e3;position:relative; font-size: xx-large;"><p>
				{% for x in data:%}
					&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {{x}} 
				{%endfor%}
			</p></div>
			<div id="hand" style="bottom:0; position:absolute; left:0;">
				<i class="fa-regular fa-hand-point-right fa-2xl" style="color:#cccccc;font-size:50px; padding-left:8px;"></i>
				<h2 style="color:#cccccc;">Scan Me</h2>
			</div>
		</div>
		
	</body>
</html>